<!DOCTYPE html>
<html lang="en">

<head>
  {% include "includes/head.html" %}
</head>

<body>
  <header>
    {% include "includes/nav.html" %}
    <h1>{{ title }}</h1>
    <p><a href="/feed.xml">RSS</a> &middot; <a href="/atom.xml">Atom</a></p>
  </header>

  <main>
    {% for page in pages %}
    {% if page.date %}
    {% if page.excerpt %}
    <hgroup>
      <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
      <p><small><time datetime="{{ page.date_iso8601 }}">{{ page.date }}</time>{% if page.updated %} &middot; Updated <time datetime="{{ page.updated_iso8601 }}">{{ page.updated }}</time>{% endif %}</small></p>
      <p>{{ page.excerpt }}</p>
    </hgroup>
    {% endif %}
    {% endif %}
    {% endfor %}
  </main>

  <footer>
    {% include "includes/footer.html" %}
  </footer>
</body>

</html>
