<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ title }} - {{ site_title }}</title>
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ canonical_url }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:description" content="{{ description }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">

{{ schema_jsonld }}
{{ breadcrumb_jsonld }}

{% include "stylesheets.html" %}
{% include "scripts.html" %}
