<!DOCTYPE html>
<html lang="en">

<head>
  {% include "includes/head.html" %}
</head>

<body>
  <header>
    {% include "includes/nav.html" %}
    <hgroup>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <time datetime="{{ date_iso8601 }}"><mark>{{ date }}</mark></time>
      {% if updated %}
      <p><small>Updated <time datetime="{{ updated_iso8601 }}">{{ updated }}</time></small></p>
      {% endif %}
    </hgroup>
  </header>

  <main>
    <article>
      {{ content }}
    </article>
  </main>

  <footer>
    {% include "includes/footer.html" %}
  </footer>
</body>

</html>
